header {
    background-color: aliceblue;
    display: flex;
    align-items: flex-start;
    height: 250x;
}

header img {
    
   

}

.Customer__Information__1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    width: 100%;
}

main section {
  display: flex;
  justify-content: space-around;
  text-align: center;
  border-style: solid;
  background-color: aliceblue;
  border-color: rgb(169, 169, 209);
 
 
 
}